<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "感謝日記" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script>
      window.currentUser = <%= user_signed_in? ? 'true' : 'false' %>;
    </script>
  </head>

  <body>
    <%# <div id="thanks_app"></div> %>

    <div id="flash-messages" class="container mx-auto mt-4 px-4" data-turbo="false">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4">
          <%= value %>
        </div>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>